.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spinner-back.show {
  opacity: .5!important;
}

.spinner-back.fade {
  opacity: 0;
}

.spinner-back {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background:rgba(0, 0, 0, 0.92)
}
.spinner {
  position: absolute;
  z-index: 100000;
  opacity: 1;
}

.spinner.hide {
  display: none;
}
.spinnerLayout{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:100000!important;
}
