body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root{
  height:100%;
}
#register{
  height:100%;
  background-image: url(../images/blur_back_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#login{
  height:100%;
  background-image: url(../images/city-backg-2.jpg);
 /* background-color:#e6e6e6; */
 background-repeat: no-repeat;
  background-size: cover;
  display: flex;
    align-items: center;
    justify-content: center;
}
.login-form{
  padding: 30px;
    background-color: white;
    border-radius: 10px;
}
.card-background-login{
  background: white;
position: relative;
min-width: 300px;
/* border-color: rgba(0, 0, 0, 0.85); */
}
.card-background{
  background: white;
  /* width:100%; */
}
/* .card-body-login{
  /* background: rgba(0, 0, 0, 0.85); */
/* }  */
.card-header{
  background: rgba(0, 0, 0, 0.85);
  color: white;
}

.row{
  margin: 0px;

}
.card-width{
  margin-right: 60px;
  width:100%
}
 .ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected{
     background-color: #4d688a !important;
   }
   .ant-menu-dark.ant-menu-inline .ant-menu-item::after, .ant-menu-dark.ant-menu-vertical .ant-menu-item::after, .ant-menu-dark.ant-menu-vertical-left .ant-menu-item::after, .ant-menu-dark.ant-menu-vertical-right .ant-menu-item::after{
     background-color: #1890ff;
      width: 5px
  }
  .sidebar-menu{
    height:calc(100% - 140px);
     
    
  }
   @media only screen and (min-width: 500px) {
    .sidebar{
      width:calc(100% - 201px);
     
   position: relative;
   left:200px;
    }
    .sidebar-menu{
      height:calc(100% - 140px);
      
    }
  }
    
@media only screen and (max-width:568px){
  .card-width{
    margin-right: 30px
  }
  
}
